*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    background-color: #0b499d;
    color: white;
    margin: 0px;
    padding: 20px;
}

.container-fluid{
    --bs-gutter-x: 0rem;
}



iframe{
    height: 900px;
    width: 100%;
}

#footer{
    display: none;
}