*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
  
  
    background-image: linear-gradient(19deg, #21D4FD 0%, #6421ff 100%);
    color: white;
    margin: 0px;
    padding: 20px;
    position: sticky;
}

.text-center{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid{
    --bs-gutter-x: 0rem;
}



iframe{
    height: 780px;
    width: 100%;
}

#footer{
    display: none;
}

h6{
    font-size: 12px;
    text-align: center;
}